tls:
  certificates:
    - certFile: /certs/localdev.pem
      keyFile: /certs/localdev-key.pem

http:
  routers:
    #
    # Https: Trino requires https when authentication is enabled
    #
    trino:
      entryPoints: trinosecure
      rule: PathPrefix(`/`)
      service: trino
      tls: {}

    #
    # Http
    #
    keycloak:
      entryPoints: web
      rule: PathPrefix(`{{ env "KC_HTTP_RELATIVE_PATH" }}`)
      service: keycloak

    lakekeeper:
      entryPoints: web
      rule: PathPrefix(`/iceberg`)
      middlewares:
        - lakekeeper-strip-prefix
      service: lakekeeper

    marimo:
      entryPoints: web
      rule: PathPrefix(`{{ env "MARIMO_APP_ROOT" }}`)
      #      middlewares:
      #        - marimo-strip-prefix
      service: marimo

    minioapi:
      entryPoints: minioapi
      rule: PathPrefix(`/`)
      service: minioapi

    minioconsole:
      entryPoints: web
      rule: PathPrefix(`/minio-console`)
      service: minioconsole
      middlewares:
        - minioconsole-strip-prefix

    openfga:
      entrypoints: web
      rule: PathPrefix(`/authz`)
      service: openfga
      middlewares:
        - openfga-strip-prefix

    superset:
      entryPoints: web
      rule: PathPrefix(`{{ env "SUPERSET_APP_ROOT" }}`)
      service: superset

    traefik:
      entryPoints: web
      rule: PathPrefix(`/internal/traefik`) || HeaderRegexp(`Referer`, `/internal/traefik`)
      service: api@internal
      middlewares:
        - traefik-strip-prefix

  middlewares:
    lakekeeper-strip-prefix:
      stripPrefix:
        prefixes:
          - "/iceberg"
    marimo-strip-prefix:
      stripPrefix:
        prefixes:
          - "/marimo"
    minioconsole-strip-prefix:
      stripPrefix:
        prefixes:
          - "/minio-console"
    openfga-strip-prefix:
      stripPrefix:
        prefixes:
          - "/authz"
    traefik-strip-prefix:
      stripPrefix:
        prefixes:
          - "/internal/traefik"

  services:
    keycloak:
      loadBalancer:
        servers:
          - url: "http://keycloak:8080"
    lakekeeper:
      loadBalancer:
        servers:
          - url: "http://lakekeeper:8181"
    marimo:
      loadBalancer:
        servers:
          - url: "http://marimo:8080"
    minioapi:
      loadBalancer:
        servers:
          - url: "http://minio:59000"
    minioconsole:
      loadBalancer:
        servers:
          - url: "http://minio:59001"
    openfga:
      loadBalancer:
        servers:
          - url: "http://openfga:8080"
    trino:
      loadBalancer:
        servers:
          - url: "http://trino:8080"
    superset:
      loadBalancer:
        servers:
          - url: "http://superset-app:8088"
