tls:
  certificates:
    - certFile: /certs/analytics.localdev.pem
      keyFile: /certs/analytics.localdev-key.pem

http:
  routers:
    #
    # Https: For login with OAuth using the browser the following services are required on HTTPS
    #
    keycloak-secure:
      entryPoints: websecure
      rule: PathPrefix(`{{ env "KC_HTTP_RELATIVE_PATH" }}`)
      service: keycloak
      tls: {}

    lakekeeper-secure:
      entryPoints: websecure
      rule: PathPrefix(`/iceberg`)
      middlewares:
        - lakekeeper-strip-prefix
      service: lakekeeper
      tls: {}

    trino:
      entryPoints: trinosecure
      rule: PathPrefix(`/`)
      service: trino
      tls: {}

    superset:
      entryPoints: websecure
      rule: PathPrefix(`{{ env "SUPERSET_APP_ROOT" }}`)
      service: superset
      tls: {}

    #
    # Http: For easier access from hosts without using certificates we define the following on
    # insecure entrypoints for use in places its hard to turn of https cert validation.
    #
    keycloak:
      entryPoints: web
      rule: PathPrefix(`{{ env "KC_HTTP_RELATIVE_PATH" }}`)
      service: keycloak

    lakekeeper:
      entryPoints: web
      rule: PathPrefix(`/iceberg`)
      middlewares:
        - lakekeeper-strip-prefix
      service: lakekeeper

    minioapi:
      entryPoints: minioapi
      rule: PathPrefix(`/`)
      service: minioapi

    minioconsole:
      entryPoints: web
      rule: PathPrefix(`/minio-console`)
      service: minioconsole
      middlewares:
        - minioconsole-strip-prefix

    openfga:
      entrypoints: web
      rule: PathPrefix(`/authz`)
      service: openfga
      middlewares:
        - openfga-strip-prefix

    traefik:
      entryPoints: web
      rule: PathPrefix(`/internal/traefik`) || HeaderRegexp(`Referer`, `/internal/traefik`)
      service: api@internal
      middlewares:
        - traefik-strip-prefix

  middlewares:
    lakekeeper-strip-prefix:
      stripPrefix:
        prefixes:
          - "/iceberg"
    minioconsole-strip-prefix:
      stripPrefix:
        prefixes:
          - "/minio-console"
    openfga-strip-prefix:
      stripPrefix:
        prefixes:
          - "/authz"
    traefik-strip-prefix:
      stripPrefix:
        prefixes:
          - "/internal/traefik"

  services:
    keycloak:
      loadBalancer:
        servers:
          - url: "http://keycloak:8080"
    minioapi:
      loadBalancer:
        servers:
          - url: "http://minio:9000"
    minioconsole:
      loadBalancer:
        servers:
          - url: "http://minio:9001"
    lakekeeper:
      loadBalancer:
        servers:
          - url: "http://lakekeeper:8181"
    openfga:
      loadBalancer:
        servers:
          - url: "http://openfga:8080"
    trino:
      loadBalancer:
        servers:
          - url: "http://trino:8080"
    superset:
      loadBalancer:
        servers:
          - url: "http://superset-app:8088"
