# yaml-language-server: $schema=https://www.schemastore.org/traefik-v3.json
global:
  checkNewVersion: false
  sendAnonymousUsage: false

api:
  dashboard: true

ping: {}

log:
  level: ERROR
  noColor: true

entryPoints:
  web:
    address: :50080
  minioapi:
    address: :59000
  trinosecure:
    address: :8443

# file configuration backend
providers:
  file:
    filename: /etc/traefik/traefik-dynamic.yml
    watch: false
