#!/usr/bin/env bash
set -euo pipefail

# Constants
ELT_SECRETS=${ELT_SECRETS:?}
ELT_GIT_CLONE_DIR={{ elt_git_clone_dir }}
ELT_GIT_REF=${ELT_GIT_REF:-main}
ELT_WRITE_DISPOSITION=${ELT_WRITE_DISPOSITION:-}
LOG_LEVEL=${ELT_LOG_LEVEL:-INFO}
ON_PIPELINE_FAILURE=log_and_continue

function ensure_elt_sources_exist() {
  export GIT_TERMINAL_PROMPT=0
  local git_url=$1
  local git_clone_dir=$2
  if [ -d "$git_clone_dir/.git" ]; then
    pushd $git_clone_dir
    git clean -d -x --force
    git reset --hard
    git checkout "$ELT_GIT_REF"
    git pull
    popd
  else
    git clone $git_url $git_clone_dir
    pushd $git_clone_dir
    git checkout "$ELT_GIT_REF"
    popd
  fi
}

# Script arguments - directories are relative to ELT_GIT_DEST
if [ $# -eq 0  ]; then
  echo "Usage $0 <git_url> <ingest_script> <transform_dir> [dbt_run_args...]"
  exit 1
fi

git_url=$1
ingest_script=$ELT_GIT_CLONE_DIR/$2
transform_dir=$ELT_GIT_CLONE_DIR/$3
shift 3

# Read secrets
set -o allexport; source $ELT_SECRETS; set +o allexport

# Ingest
ensure_elt_sources_exist $git_url $ELT_GIT_CLONE_DIR
ingest_script_dir=$(dirname $ingest_script)
dlt_write_disposition=
if [ -n "$ELT_WRITE_DISPOSITION" ]; then
  dlt_write_disposition="--write-disposition $ELT_WRITE_DISPOSITION"
fi

cd $ingest_script_dir
uv run \
  --reinstall \
  --script $ingest_script \
  --log-level $LOG_LEVEL \
  --on-pipeline-step-failure $ON_PIPELINE_FAILURE \
  $dlt_write_disposition


# Transform
cd $transform_dir
uv venv
uv pip install -r requirements/requirements.txt
uv run dbt deps
uv run dbt run $*
