http:
  routers:
    # TLS
    traefik:
      entryPoints: websecure
      rule: Host(`{{ top_level_domain }}`) && (PathPrefix(`/traefik`) || HeaderRegexp(`Referer`, `/traefik`))
      service: api@internal
      middlewares:
        - traefik-strip-prefix
        - dashboardauth
      tls: {}

  middlewares:
    dashboardauth:
      basicauth:
        users: admin:{{ vault_traefik_admin_passwd | password_hash('bcrypt', rounds=10, ident='2y') }}
    traefik-strip-prefix:
      stripPrefix:
        prefixes:
          - "/traefik"
