---
- name: Ensure secrets directory exists
  become: true
  no_log: "{{ not (elt_enable_logs | default(False)) }}"
  ansible.builtin.file:
    path: "{{ elt_secrets_root_dir }}/{{ warehouse_name }}"
    state: directory
    mode: "u=rwx,g=,o="
    owner: "{{ ansible_env['USER'] }}"
    group: "{{ ansible_env['USER'] }}"

- name: Generate secrets
  become: true
  no_log: "{{ not (elt_enable_logs | default(False)) }}"
  ansible.builtin.template:
    src: ./secrets/envvars.j2
    dest: "{{ elt_secrets_root_dir }}/{{ warehouse_name }}/envvars"
    mode: "u=r,g=,o="
    owner: "{{ ansible_env['USER'] }}"
    group: "{{ ansible_env['USER'] }}"

- name: Ensure cron logs directory exists
  ansible.builtin.file:
    path: "{{ elt_cron_logs_root_dir }}/{{ warehouse_name }}"
    state: directory
    mode: "u=rwx,g=rx,o=rx"

- name: Create cron jobs for warehouse {{ warehouse_name }}
  ansible.builtin.cron:
    name: "{{ source.name }}"
    state: "{{ source.state | default('present') }}"
    hour: "{{ source.hour }}"
    minute: "{{ source.minute }}"
    job: >
      NO_COLOR=1 UV_NO_PROGRESS=1
      ELT_SECRETS={{ elt_secrets_root_dir }}/{{ warehouse_name }}/envvars
      ELT_WRITE_DISPOSITION={{ source.write_disposition | default("") }}
      {{ elt_cron_root_dir }}/elt_task.sh
      https://github.com/{{ elt_jobs.github_org }}/{{ elt_jobs.github_repo }}.git {{ warehouse_name }} {{ source.name }} {{ source.dbt_args }}
      > {{ elt_cron_logs_root_dir }}/{{ warehouse_name }}/{{ source.name }}-$(date +\%Y\%m\%d_\%H\%M\%S).log 2>&1
  loop: "{{ elt_jobs.sources }}"
  loop_control:
    loop_var: source

- name: Ensure Iceberg table maintenance jobs exist
  ansible.builtin.cron:
    name: "iceberg-maintenance-{{ warehouse_name }}"
    state: "{{ elt_jobs.maintenance.state }}"
    hour: 3
    minute: 2
    job: >
      NO_COLOR=1 UV_NO_PROGRESS=1 ELT_SECRETS={{ elt_secrets_root_dir }}/{{ warehouse_name }}/envvars
      {{ elt_cron_root_dir }}/iceberg_maintenance.sh https://github.com/{{ elt_jobs.github_org }}/{{ elt_jobs.github_repo }}.git
      > {{ elt_cron_logs_root_dir }}/{{ warehouse_name }}/iceberg_maintenance-$(date +\%Y\%m\%d_\%H\%M\%S).log 2>&1
