---
# ---------- UV & Python ----------
- name: Check if uv exists
  stat:
    path: /usr/local/bin/uv
  register: stat_uv

- name: Fetch uv installer
  ansible.builtin.get_url:
    url: "https://astral.sh/uv/{{ elt_uv_version }}/install.sh"
    dest: /tmp/uv-install.sh
  when: not stat_uv.stat.exists

- name: Execute uv installer
  become: true
  shell: env UV_UNMANAGED_INSTALL=/usr/local/bin sh /tmp/uv-install.sh
  when: not stat_uv.stat.exists

- name: Remove uv installer script
  file:
    path: /tmp/uv-install.sh
    state: absent
  when: not stat_uv.stat.exists

- name: Ensure Python is installed
  ansible.builtin.command: uv python install "{{ elt_uv_python_version }}"

# ---------- AWS S3 ----------
- name: Ensure S3 configuration directory exists
  ansible.builtin.file:
    path: "{{ ansible_env['HOME'] }}/.aws"
    state: directory
    mode: "u=rwx,g=rx,o=rx"

- name: Ensure S3 config file is absent
  ansible.builtin.file:
    path: "{{ ansible_env['HOME'] }}/.aws/config"
    state: absent

- name: Ensure AWS configuration is present
  ansible.builtin.copy:
    dest: "{{ ansible_env['HOME'] }}/.aws/credentials"
    content: |+
      [default]
      endpoint = {{ s3_endpoint }}
      request_checksum_calculation = when_required
      region = local-01
      aws_access_key_id = {{ s3_access_key_id }}
      aws_secret_access_key = {{ s3_access_secret }}
    mode: "u=rw,o=r,g=r"

# ---------- dlt ----------
- name: Ensure dlt configuration directory exists
  ansible.builtin.file:
    path: "{{ ansible_env['HOME'] }}/.dlt"
    state: directory
    mode: "u=rwx,g=rx,o=rx"

- name: Generate .dlt/config.toml
  no_log: "{{ not (elt_enable_logs | default(False)) }}"
  ansible.builtin.template:
    src: dlt/config.toml.j2
    dest: "{{ ansible_env['HOME'] }}/.dlt/config.toml"
    mode: "u=rwx,g=r,o=r"

- name: Set shared ELT job variables
  ansible.builtin.set_fact:
    elt_git_clone_dir: "{{ ansible_env['HOME'] }}/var/git"
    elt_cron_root_dir: "{{ ansible_env['HOME'] }}/var/cron"
    elt_cron_logs_root_dir: "{{ ansible_env['HOME'] }}/var/cron/logs"

- name: Ensure cron scripts directory exists
  ansible.builtin.file:
    path: "{{ elt_cron_root_dir }}"
    state: directory
    mode: "u=rwx,g=rx,o=rx"

- name: Create/update ELT cron script template
  ansible.builtin.template:
    src: ./cron/elt_task.sh.j2
    dest: "{{ elt_cron_root_dir }}/elt_task.sh"
    mode: "u=rwx,g=rx,o=rx"

- name: Create Iceberg maintenance script
  ansible.builtin.template:
    src: ./cron/iceberg_maintenance.sh.j2
    dest: "{{ elt_cron_root_dir }}/iceberg_maintenance.sh"
    mode: "u=rwx,g=rx,o=rx"

- ansible.builtin.include_tasks: elt_cron_tasks.yml
  vars:
    warehouse_name: "{{ warehouse.key }}"
    elt_jobs: "{{ warehouse.value.elt_jobs }}"
  loop: "{{ lakekeeper_catalog.warehouses | dict2items }}"
  loop_control:
    loop_var: warehouse
    label: "{{ warehouse_name }}"
  when: "warehouse.value.elt_jobs is defined"
