[sources.m365.credentials]
tenant_id = "{{ vault_ingestion_msgraph_directory_id }}"
client_id = "{{ vault_ingestion_msgraph_client_id }}"
client_secret = "{{ vault_ingestion_msgraph_client_secret }}"

[opralogweb.sources.sql_database.credentials]
drivername = "mssql+pymssql"
database = "OpralogWebDB"
port = 1433
host = "{{ vault_ingestion_opralogweb_host }}"
username = "{{ vault_ingestion_opralogweb_user }}"
password = "{{ vault_ingestion_opralogweb_passwd }}"

[destination.pyiceberg]
# Needs to match the concatenated version of protocol, bucket_name + key_prefix in Lakekeeper
bucket_url = "s3://{{ lakekeeper_catalog.storage.bucket_name }}"

[destination.pyiceberg.credentials]
uri = "{{ lakekeeper_catalog.uri }}"
warehouse = "{{ lakekeeper_catalog.name }}"
access_delegation = "remote-signing"
oauth2_server_uri = "{{ keycloak_token_endpoint_url_isis }}"
client_id = "{{ vault_ingestion_catalog_client_id }}"
client_secret = "{{ vault_ingestion_catalog_client_secret }}"
scope = "lakekeeper"
