x-superset-image: &superset-image {{ superset_container_image }}
x-superset-user: &superset-user root
x-superset-depends-on: &superset-depends-on
  redis:
    condition: service_started
x-superset-env: &superset-env
  - path: docker/.env # default
    required: true
x-superset-volumes: &superset-volumes
  - {{ superset_working_dir }}/docker/docker-init.sh:/app/docker/docker-init.sh:ro
  - {{ superset_working_dir }}/docker/pythonpath:/app/docker/pythonpath:ro
  - superset_home:/app/superset_home
  - {{ superset_working_dir }}/certs:/certs:ro
x-networks: &superset-networks
  - {{ superset_instance_name }}


services:
  redis:
    container_name: {{ superset_instance_name }}_cache
    env_file: *superset-env
    image: redis:7
    restart: unless-stopped
    volumes:
      - redis:/data
    networks: *superset-networks

  superset:
    container_name: {{ superset_instance_name }}_app
    env_file: *superset-env
    image: *superset-image
    command: [ "/app/docker/docker-bootstrap.sh", "app-gunicorn" ]
    user: *superset-user
    restart: unless-stopped
    ports:
      - {{ superset_http_port }}:8088
    depends_on:
      <<: *superset-depends-on
      superset-init:
        condition: service_completed_successfully
    volumes: *superset-volumes
    networks: *superset-networks

  superset-init:
    container_name: {{ superset_instance_name }}_init
    env_file: *superset-env
    image: *superset-image
    command: [ "/app/docker/docker-init.sh" ]
    depends_on: *superset-depends-on
    user: *superset-user
    volumes: *superset-volumes
    healthcheck:
      disable: true
    networks: *superset-networks

  superset-worker:
    container_name: {{ superset_instance_name }}_worker
    env_file: *superset-env
    image: *superset-image
    command: [ "/app/docker/docker-bootstrap.sh", "worker" ]
    restart: unless-stopped
    depends_on:
     <<: *superset-depends-on
     superset:
        condition: service_healthy
    user: *superset-user
    volumes: *superset-volumes
    networks: *superset-networks
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "celery -A superset.tasks.celery_app:app inspect ping -d celery@$$HOSTNAME"
        ]

  superset-worker-beat:
    container_name: {{ superset_instance_name }}_worker_beat
    env_file: *superset-env
    image: *superset-image
    command: [ "/app/docker/docker-bootstrap.sh", "beat" ]
    restart: unless-stopped
    depends_on:
     <<: *superset-depends-on
     superset:
        condition: service_healthy
    user: *superset-user
    volumes: *superset-volumes
    networks: *superset-networks
    healthcheck:
      disable: true

volumes:
  redis:
  superset_home:

networks:
  {{ superset_instance_name }}:
    driver_opts:
      com.docker.network.driver.mtu: "{{ docker_daemon_options.mtu }}"
