http:
  routers:
    # TLS
    jupyterhub:
      entryPoints: websecure
      rule: Host(`{{ top_level_domain }}`) && PathPrefix(`{{ jupyterhub_base_path }}`)
      service: jupyterhub
      tls: {}

  services:
    jupyterhub:
      loadBalancer:
        servers:
          - url: "http://jupyterhub:{{ jupyterhub_http_port }}"
