{%- set base_paths = {lakekeeper_base_path: lakekeeper_server_name,
    lakekeeper_base_path + '-preview': lakekeeper_server_name + '-preview'} -%}

http:
  routers:
    {% for base_path, server_name in base_paths.items() %}
    {%- set santized_name = base_path.replace('/', '_') -%}
    {{ santized_name }}:
      entryPoints: websecure
      rule: Host(`{{ top_level_domain }}`) && PathPrefix(`{{ base_path }}`)
      service: {{ santized_name }}
      middlewares:
        - {{ santized_name }}-strip-prefix
      tls: {}
    {% endfor %}

  middlewares:
    {% for base_path, server_name in base_paths.items() %}
    {%- set santized_name = base_path.replace('/', '_') -%}
    {{ santized_name }}-strip-prefix:
      stripPrefix:
        prefixes:
          - "{{ base_path }}"
    {% endfor %}

  services:
    {% for base_path, server_name in base_paths.items() %}
    {%- set santized_name = base_path.replace('/', '_') -%}
    {{ santized_name }}:
      loadBalancer:
        servers:
          - url: "http://{{ server_name }}:{{ lakekeeper_http_port }}"
    {% endfor %}
