http:
  routers:
    # TLS
    root:
      entryPoints: websecure
      rule: Host(`{{ top_level_domain }}`) && PathRegexp(`^/?$`)
      middlewares:
        - root-redirect-to-docs
      service: docs
      tls: {}

  middlewares:
    root-redirect-to-docs:
      redirectRegex:
        regex: "^(https?)://([^/]+)/?"
        replacement: "${1}://${2}/docs/"
