http:
  routers:
    superset_accelerator:
      entryPoints: websecure
      rule: Host(`{{ top_level_domain }}`) && PathPrefix(`/workspace/accelerator`)
      service: superset_accelerator
      tls: {}
    superset_management:
      entryPoints: websecure
      rule: Host(`{{ top_level_domain }}`) && PathPrefix(`/workspace/management`)
      service: superset_management
      tls: {}

  services:
    # this is still the old single-node deployment
    superset_accelerator:
      loadBalancer:
        servers:
          - url: "http://superset:8088"
    # new "farm" multiple instance node
    # how not to duplicate the ports etc
    superset_management:
      loadBalancer:
        servers:
          - url: "http://superset_farm:8089"
