http:
  routers:
  {% for instance_name, props in superset_instances.items() %}
  {{ instance_name }}:
      entryPoints: websecure
      rule: Host(`{{ top_level_domain }}`) && PathPrefix(`{{ props.app_root }}`)
      service: {{ instance_name }}
      tls: {}
  {% endfor %}

  services:
  {% for instance_name, props in superset_instances.items() %}
  {{ instance_name }}:
      loadBalancer:
        servers:
          - url: "http://{{ hostvars[groups[instance_name][0]]['ansible_host'] }}:{{ props.http_port }}"
  {% endfor %}
