http:
  routers:
    trino:
      entryPoints: trino_tls
      rule: Host(`{{ top_level_domain }}`) && PathPrefix(`/`)
      service: trino
      tls: {}

  services:
    trino:
      loadBalancer:
        servers:
          - url: "http://{{ trino_server_name }}:{{ trino_http_port }}"
