{% if 'trino' in groups %}
http:
  routers:
    trino:
      entryPoints: trino_tls
      rule: Host(`{{ top_level_domain }}`) && PathPrefix(`/`)
      service: trino
      tls: {}

  services:
    trino:
      loadBalancer:
        servers:
          - url: "http://{{ hostvars[groups['trino'][0]]['ansible_host'] }}:{{ trino_http_port }}"
{% endif %}
