---
base_additional_apt_keys:
  - url: https://dl.igtf.net/distribution/igtf/current/GPG-KEY-EUGridPMA-RPM-4
    filename: eugridpma-rpm-4.asc
base_timezone: "Europe/London"

cephfs_mount_export_path: "{{ vault_cephfs_export_path }}"
cephfs_mount_mount_path: "/mnt/lakehouse_data"
cephfs_mount_access_name: "{{ vault_cephfs_access_name }}"
cephfs_mount_access_secret: "{{ vault_cephfs_access_secret }}"

docker_daemon_options:
  mtu: 1450
  registry-mirrors: ["https://dockerhub.stfc.ac.uk"]

docker_users:
  - "{{ vault_openstack_vm_user }}"

elt_threads: 16

logrotate_frequency: weekly
logrotate_keep: 30
logrotate_compress: true

keycloak_base_path: /auth
keycloak_http_port: 8080
keycloak_http_management_port: 9000
keycloak_url: "https://{{ top_level_domain }}{{ keycloak_base_path }}"
keycloak_realm:
  name: "isis-analytics-data-platform"
  display_name: "ISIS Analytics Data Platform"
keycloak_realm_url: "{{ keycloak_url }}/realms/{{ keycloak_realm.name }}"

lakekeeper_base_path: /iceberg
lakekeeper_http_port: 8181

pip_install_packages:
  - name: docker
    extra_args: --break-system-packages

stfc_ldap_server: "{{ vault_stfc_ldap_server }}"
stfc_ca_cert: "{{ vault_stfc_ca_cert }}"

superset_farm_url_prefix: /workspace

trino_http_port: 8060
trino_https_port: 8443

# Warehouses
lakekeeper_project_name: "ISIS Analytics Data Platform"
lakekeeper_catalog:
  catalog_uri: "https://{{ top_level_domain }}{{ lakekeeper_base_path }}/catalog"
  warehouses:
    facility_ops:
      storage:
        bucket_name: "{{ lakekeeper_bucket_prefix }}facility-ops"
        key_prefix: ""
    accelerator_ops:
      storage:
        bucket_name: "{{ lakekeeper_bucket_prefix }}accelerator-ops"
        key_prefix: ""
      elt_jobs:
        github_org: ISISNeutronMuon
        github_repo: analytics-data-platform
        sources:
          - name: statusdisplay
            hour: 1
            minute: 45
            dbt_args: "--select 'models/staging/statusdisplay'"
          - name: accelerator_sharepoint
            hour: 2
            minute: 2
            dbt_args: "--select 'models/staging/accelerator_sharepoint'"
          - name: opralogweb
            hour: 2
            minute: 11
            dbt_args: "--select '+models/operations' --exclude '+models/operations/power_consumption.sql'"
          - name: electricity_sharepoint
            hour: "*"
            minute: 5
            dbt_args: "--select '+models/operations/power_consumption.sql'"
        maintenance:
          state: present

superset_farm_instances:
  accelerator:
    app_root: "{{ superset_farm_url_prefix }}/accelerator"
    env_name: production
    flask_debug: false
    http_port: 8088
    redis_db: 0
    secret_key: "{{ vault_superset_secret_keys['accelerator'] }}"
    users_yaml: "{{ vault_superset_users_yaml['accelerator'] }}"
    analytic_dbs:
      - name: accelerator_ops
        db_url: "trino://superset:{{ vault_trino_users['superset'].password }}@{{ top_level_domain }}:{{ trino_https_port }}/accelerator_ops"
  experiment_ops:
    app_root: "{{ superset_farm_url_prefix }}/experiment_ops"
    env_name: production
    flask_debug: false
    http_port: 8089
    redis_db: 1
    secret_key: "{{ vault_superset_secret_keys['experiment_ops'] }}"
    users_yaml: "{{ vault_superset_users_yaml['experiment_ops'] }}"
    analytic_dbs:
      - name: facility_ops
        db_url: "trino://superset:{{ vault_trino_users['superset'].password }}@{{ top_level_domain }}:{{ trino_https_port }}/facility_ops"
