infra/ansibler/group_vars/all/vault.yml diff=ansible-vault
infra/ansible/inventories/dev/group_vars/all/vault.yml diff=ansible-vault
infra/ansible/inventories/qa/group_vars/all/vault.yml diff=ansible-vault
