---
base_additional_apt_keys:
  - url: https://dl.igtf.net/distribution/igtf/current/GPG-KEY-EUGridPMA-RPM-4
    filename: eugridpma-rpm-4.asc
base_timezone: "Europe/London"

cephfs_mount_export_path: "{{ vault_cephfs_export_path }}"
cephfs_mount_mount_path: "/mnt/lakehouse_data"
cephfs_mount_access_name: "{{ vault_cephfs_access_name }}"
cephfs_mount_access_secret: "{{ vault_cephfs_access_secret }}"

docker_daemon_options:
  mtu: 1450
  registry-mirrors: ["https://dockerhub.stfc.ac.uk"]

docker_users:
  - "{{ vault_openstack_vm_user }}"

keycloak_base_path: /authn
keycloak_http_port: 8080
keycloak_http_management_port: 9000
keycloak_url: "https://{{ top_level_domain }}{{ keycloak_base_path }}"
keycloak_realm:
  name: "isis-analytics-data-platform"
  display_name: "ISIS Analytics Data Platform"
keycloak_realm_url: "{{ keycloak_url }}/realms/{{ keycloak_realm.name }}"

lakekeeper_base_path: /iceberg
lakekeeper_http_port: 8181
lakekeeper_project_name: "ISIS Analytics Data Platform"

pip_install_packages:
  - name: docker
    extra_args: --break-system-packages

stfc_ldap_server: "{{ vault_stfc_ldap_server }}"
stfc_ca_cert: "{{ vault_stfc_ca_cert }}"

# Trino: shared
trino_https_port: 8443
