---
- name: Set Lakekeeper shared facts
  ansible.builtin.set_fact:
    lakekeeper_shared_env:
      LAKEKEEPER__PG_ENCRYPTION_KEY: "{{ lakekeeper_metadb_encryption_key }}"
      LAKEKEEPER__PG_DATABASE_URL_READ: "postgresql://{{ lakekeeper_metadb_user }}:{{ lakekeeper_metadb_passwd }}@{{ lakekeeper_metadb_host }}:5432/{{ lakekeeper_metadb_name }}"
      LAKEKEEPER__PG_DATABASE_URL_WRITE: "postgresql://{{ lakekeeper_metadb_user }}:{{ lakekeeper_metadb_passwd }}@{{ lakekeeper_metadb_host }}:5432/{{ lakekeeper_metadb_name }}"
      LAKEKEEPER__OPENID_PROVIDER_URI: "{{ keycloak_realm_url }}"
      LAKEKEEPER__OPENID_AUDIENCE: lakekeeper
      LAKEKEEPER__AUTHZ_BACKEND: openfga
      LAKEKEEPER__OPENFGA__ENDPOINT: http://localhost:8081
      RUST_LOG: "{{ lakekeeper_log_level }}"

- ansible.builtin.import_tasks: migrate.yml

- ansible.builtin.import_tasks: start.yml

- ansible.builtin.import_tasks: bootstrap.yml
