---
- name: Fetch an access token for machine user in user realm
  when: _realm_token is not defined
  block:
    - ansible.builtin.uri:
        url: "{{ keycloak_realm_url }}/protocol/openid-connect/token"
        method: POST
        body:
          grant_type: client_credentials
          client_id: ansible
          client_secret: "{{ vault_keycloak_client_secrets['ansible'] }}"
          scope: "lakekeeper"
        body_format: form-urlencoded
      register: _result

    - ansible.builtin.set_fact:
        _realm_token: "{{ _result.json['access_token'] }}"
