---
- name: Fetch an admin access token
  ansible.builtin.uri:
    url: "{{ keycloak_url }}/realms/master/protocol/openid-connect/token"
    method: POST
    body:
      grant_type: password
      client_id: admin-cli
      username: "{{ vault_keycloak_bootstrap_admin_user }}"
      password: "{{ vault_keycloak_bootstrap_admin_passwd }}"
    body_format: form-urlencoded
  register: token_master

- name: Find identifier of admin user in user realm
  ansible.builtin.uri:
    url: "{{ keycloak_url }}/admin/realms/{{ keycloak_realm.name }}/users?{{ query_parameters | urlencode }}"
    method: GET
    body_format: json
    headers:
      Authorization: "Bearer {{ token_master.json['access_token'] }}"
  vars:
    query_parameters:
      username: "{{ lakekeeper_admin_user }}"
      exact: true
  register: keycloak_user_lookup
  failed_when: (keycloak_user_lookup.json | length) == 0

- ansible.builtin.set_fact:
    oidc_user_id: "oidc~{{ keycloak_user_lookup.json[0]['id'] }}"
    permissions:
      - entity: server
        grant: admin
      - entity: project
        grant: project_admin

- ansible.builtin.include_tasks: realm-token.yml

- name: Get user assignment info
  ansible.builtin.uri:
    url: "{{ lakekeeper_catalog.management_uri }}/v1/permissions/{{ permission.entity }}/assignments"
    method: GET
    headers:
      Authorization: "Bearer {{ _realm_token }}"
  register: _assignments_info
  loop: "{{ permissions }}"
  loop_control:
    loop_var: permission

- name: Set Lakekeeper server admin
  ansible.builtin.uri:
    url: "{{ lakekeeper_catalog.management_uri }}/v1/permissions/{{ permission.entity }}/assignments"
    method: POST
    body_format: json
    body:
      writes:
        [{ "type": "{{ permission.grant }}", "user": "{{ oidc_user_id }}" }]
    headers:
      Authorization: "Bearer {{ _realm_token }}"
    status_code: [200, 201, 204]
  when: "{'type': permission.grant, 'user': oidc_user_id} not in _assignments_info.results[index].json['assignments']"
  loop: "{{ permissions }}"
  loop_control:
    loop_var: permission
    index_var: index
