---
- ansible.builtin.include_tasks: realm-token.yml

- name: Get warehouse ("{{ warehouse.key }}") info
  ansible.builtin.uri:
    url: "{{ lakekeeper_catalog.management_uri }}/v1/warehouse"
    method: GET
    headers:
      Authorization: "Bearer {{ _realm_token }}"
  register: warehouses_info

- name: Create warehouse ("{{ warehouse.key }}")
  when: "warehouse.key not in (warehouses_info.json.warehouses | map(attribute='name') | list)"
  block:
    - amazon.aws.s3_bucket:
        name: "{{ warehouse.value.storage.bucket_name }}"
        access_key: "{{ s3_access_key_id }}"
        secret_key: "{{ s3_access_secret }}"
        state: present
        ceph: true
        endpoint_url: "{{ s3_endpoint }}"

    - name: Create warehouse ("{{ warehouse.key }}")
      ansible.builtin.uri:
        url: "{{ lakekeeper_catalog.management_uri }}/v1/warehouse"
        method: POST
        body_format: json
        body:
          warehouse-name: "{{ warehouse.key }}"
          storage-credential:
            type: "s3"
            aws-access-key-id: "{{ s3_access_key_id }}"
            aws-secret-access-key: "{{ s3_access_secret }}"
            credential-type: access-key
          storage-profile:
            type: s3
            bucket: "{{ warehouse.value.storage.bucket_name }}"
            key-prefix: "{{ warehouse.value.storage.key_prefix }}"
            endpoint: "{{ s3_endpoint }}"
            region: "echo"
            path-style-access: true
            sts-enabled: false
            flavor: "s3-compat"
          delete-profile:
            type: hard
        headers:
          Authorization: "Bearer {{ _realm_token }}"
        status_code: [200, 201]
