# A development stack to emulate the Lakehouse. This is intended for local development only.
# See ./README.md

# image versions
x-keycloak-image: &keycloak-image quay.io/keycloak/keycloak:26.3
x-openfga-image: &openfga-image openfga/openfga:v1.10
x-lakekeeper-image: &lakekeeper-image quay.io/lakekeeper/catalog:v0.10.0
x-minio-image: &minio-image quay.io/minio/minio:RELEASE.2025-09-07T16-13-09Z
x-minio-mc-image: &minio-mc-image quay.io/minio/mc:RELEASE.2025-08-13T08-35-41Z
x-postgres-image: &postgres-image postgres:16.9-bookworm
x-superset-image: &superset-image ghcr.io/martyngigg/adp-superset-forked:901412e
x-traefik-image: &traefik-image traefik:v3.5.3
x-trino-image: &trino-image trinodb/trino:477

# environment
x-env-file: &env-file
  - path: ./env-local
    required: true

# network
x-networks: &local-networks
  - local-lakehouse_net

# certs
x-mkcert-depends: &mkcert-depends
  mkcert:
    condition: service_completed_successfully
x-certs-volume: &certs-volume "mkcert_data:/certs"

# superset options
x-superset-user: &superset-user root
x-superset-depends-on: &superset-depends-on
  superset-redis:
    condition: service_started
  shared-database-bootstrap:
    condition: service_completed_successfully
x-superset-volumes: &superset-volumes
  - ./superset/docker/docker-init.sh:/app/docker/docker-init.sh:ro
  - ./superset/docker/docker-bootstrap-cert.sh:/app/docker/docker-bootstrap-cert.sh:ro
  - ./superset/docker/requirements-local.txt:/app/docker/requirements-local.txt:ro
  - ./superset/docker/pythonpath:/app/docker/pythonpath:ro
  - *certs-volume

services:
  #########################################################
  # Ingress
  #########################################################
  mkcert:
    container_name: local-lakehouse-mkcert
    image: alpine/mkcert
    entrypoint:
      - /bin/sh
      - -c
      - |
        certfile=/certs/localdev.pem
        if [ ! -f "$$certfile" ]; then
          echo "$$certfile not found. Creating new CA and certificate."
          cd /certs || exit 1
          mkcert -cert-file "$$certfile" -key-file localdev-key.pem localhost 127.0.0.1 ::1
          cp "$$(mkcert -CAROOT)"/* .
        else
          echo "$$certfile exists, skipping certificate creation."
        fi
    restart: "no"
    volumes:
      - *certs-volume
    networks: *local-networks

  adp-router:
    container_name: local-lakehouse-traefik
    image: *traefik-image
    env_file: *env-file
    depends_on: *mkcert-depends
    healthcheck:
      test: ["CMD-SHELL", "traefik healthcheck"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 5s
    ports:
      - "50080:50080"
      - "59000:59000" # MinIO api
      - "58443:8443" # TLS entrypoint for Trino (cannot run on non-root path prefix or without https with auth enabled)
    volumes:
      - "./traefik/traefik.yml:/etc/traefik/traefik.yml"
      - "./traefik/traefik-dynamic.yml:/etc/traefik/traefik-dynamic.yml"
      - *certs-volume
    networks: *local-networks

  #########################################################
  # Database shared by all services
  # Do not do this in production!
  #########################################################
  shared-database:
    container_name: local-lakehouse-shared-database
    image: *postgres-image
    env_file: *env-file
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -p 5432"]
      interval: 30s
      timeout: 10s
      retries: 2
      start_period: 10s
    ports:
      # Open the port for easy access to viewing the database
      - "55432:5432"
    volumes:
      - "shared_database_data:/var/lib/postgresql/data"
    networks: *local-networks

  shared-database-bootstrap:
    container_name: local-lakehouse-shared-database-bootstrap
    image: *postgres-image
    env_file: *env-file
    restart: "no"
    depends_on:
      shared-database:
        condition: service_healthy
    entrypoint:
      - /bin/bash
      - -c
      - |
        create_db_if_not_exists() {
          psql -v ON_ERROR_STOP=1 --host=shared-database --username="$$ADP_SUPERUSER" <<-EOSQL
            SELECT 'CREATE DATABASE $1' WHERE NOT EXISTS (SELECT FROM pg_database WHERE datname = '$1')\\gexec
        EOSQL
        }
        rename_schema() {
          psql -v ON_ERROR_STOP=1 --host=shared-database --username="$$ADP_SUPERUSER" $1 <<-EOSQL
            SELECT 'ALTER SCHEMA $2 RENAME TO $3' WHERE NOT EXISTS (select schema_name from information_schema.schemata WHERE schema_name = '$3')\\gexec
        EOSQL
        }
        create_db_if_not_exists $$SHARED_DB__OPENFGA_DB_NAME
        create_db_if_not_exists $$SHARED_DB__LAKEKEEPER_DB_NAME
        create_db_if_not_exists $$SHARED_DB__SUPERSET_DB_NAME
        rename_schema $$SUPERSET_DB_NAME public $$SUPERSET_DB_SCHEMA_NAME
    networks: *local-networks

  #########################################################
  # Keycloak identity provider
  #########################################################
  keycloak:
    container_name: local-lakehouse-keycloak
    image: *keycloak-image
    env_file: *env-file
    volumes:
      - keycloak_data:/opt/keycloak/data
      - "./healthcheck-localhost.sh:/usr/local/bin/healthcheck-localhost.sh:ro"
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "healthcheck-localhost.sh 8080 $$KC_HTTP_RELATIVE_PATH/realms/master/.well-known/openid-configuration jwks_uri",
        ]
      start_period: 20s
      start_interval: 2s
      interval: 15s
      timeout: 30s
      retries: 5
    command:
      [
        "start-dev",
        "--metrics-enabled=true",
        "--health-enabled=true",
        "--features=token-exchange",
        "--hostname-debug=true",
        "--proxy-headers=xforwarded",
        "--verbose",
        "--log-level=INFO",
      ]
    networks: *local-networks

  keycloak-bootstrap:
    container_name: local-lakehouse-keycloak-bootstrap
    build:
      context: keycloak
      dockerfile: Dockerfile-kcadm.dockerfile
      args:
        base: *keycloak-image
    env_file: *env-file
    entrypoint:
      - /bin/sh
      - -c
      - "sleep 1; /opt/keycloak/bootstrap.sh http://keycloak:8080/auth"
    restart: "no"
    depends_on:
      keycloak:
        condition: service_healthy
    networks: *local-networks
    volumes:
      - "./keycloak/bootstrap.sh:/opt/keycloak/bootstrap.sh:ro"

  #########################################################
  # MinIO - Object store emulating the Ceph object store
  # in SCD. This is exposed directly rather than through traefik
  # as the service needs to be accessible for clients such as
  # PyIcberg.
  # Service name needs to match the endpoint value in bootstrap-warehouse.json
  #########################################################
  minio:
    container_name: local-lakehouse-minio
    image: *minio-image
    env_file: *env-file
    # Match ports on host & container to use the same port inside and outside the container
    # network
    command:
      ["server", "/data", "--address", ":59000", "--console-address", ":59001"]
    healthcheck:
      test: ["CMD-SHELL", "healthcheck-localhost.sh 59000 /minio/health/live"]
      start_period: 10s
      interval: 30s
      timeout: 30s
      retries: 3
    volumes:
      - "./healthcheck-localhost.sh:/usr/local/bin/healthcheck-localhost.sh:ro"
      - "minio_data:/data"
    networks: *local-networks

  minio-bootstrap:
    container_name: local-lakehouse-minio-bootstrap
    depends_on:
      minio:
        condition: service_healthy
    image: *minio-mc-image
    env_file: *env-file
    entrypoint:
      - /bin/sh
      - -c
      - |
        /usr/bin/mc alias set minio http://minio:59000 "$${MINIO_ROOT_USER}" "$${MINIO_ROOT_PASSWORD}"
        /usr/bin/mc mb --ignore-existing minio/playground
    networks: *local-networks

  #########################################################
  # OpenFGA - Permissioning
  #########################################################
  openfga-migrate:
    container_name: local-lakehouse-openfga-migrate
    image: *openfga-image
    env_file: *env-file
    command: migrate
    depends_on:
      shared-database-bootstrap:
        condition: service_completed_successfully
    networks: *local-networks

  openfga:
    container_name: local-lakehouse-openfga
    image: *openfga-image
    env_file: *env-file
    command: run
    depends_on:
      openfga-migrate:
        condition: service_completed_successfully
    networks: *local-networks
    healthcheck:
      test: ["CMD", "/usr/local/bin/grpc_health_probe", "-addr=openfga:8081"]
      interval: 10s
      timeout: 30s
      retries: 3

  #########################################################
  # Lakekeeper - Iceberg REST catalog
  #########################################################
  lakekeeper:
    container_name: local-lakehouse-lakekeeper
    image: *lakekeeper-image
    env_file: *env-file
    environment:
      - SSL_CERT_FILE=/certs/rootCA.pem
      - RUST_LOG=info,lakekeeper=${LAKEKEEPER_LOG_LEVEL:-info},lakekeeper_bin=${LAKEKEEPER_LOG_LEVEL:-info},iceberg_ext=${LAKEKEEPER_LOG_LEVEL:-info}
    command: ["serve"]
    healthcheck:
      test: ["CMD", "/home/nonroot/lakekeeper", "healthcheck"]
      start_period: 5s
      interval: 30s
      timeout: 30s
      retries: 3
    depends_on:
      lakekeeper-migrate:
        condition: service_completed_successfully
      adp-router:
        condition: service_healthy
      keycloak-bootstrap:
        condition: service_completed_successfully
      minio-bootstrap:
        condition: service_completed_successfully
      shared-database-bootstrap:
        condition: service_completed_successfully
    volumes:
      - *certs-volume
    networks: *local-networks

  lakekeeper-migrate:
    container_name: local-lakehouse-lakekeeper-migrate
    image: *lakekeeper-image
    env_file: *env-file
    restart: "no"
    command: ["migrate"]
    depends_on:
      shared-database-bootstrap:
        condition: service_completed_successfully
      openfga:
        condition: service_healthy
    networks: *local-networks

  lakekeeper-bootstrap:
    container_name: local-lakehouse-lakekeeper-bootstrap
    image: ghcr.io/astral-sh/uv:python3.13-bookworm-slim
    env_file: *env-file
    entrypoint:
      - /bin/bash
      - -c
      - |
        for name in playground; do
          uv run /opt/work/bootstrap-warehouse.py \
          --project-name "$$KC_REALM_NAME" \
          --new-project-id "$$ADP_PROJECT_ID" \
          --keycloak-url "$$KEYCLOAK_URL_INTERNAL" \
          --keycloak-realm "$$KC_REALM_NAME" \
          --bootstrap-credentials "machine-infra:s3cr3t" \
          --token-scope lakekeeper \
          --server-admin "$$ADP_SUPERUSER" \
          --additional-user trino:s3cr3t \
          --log-level=DEBUG \
          --warehouse-json-file "/opt/work/bootstrap-$$name.json" \
          "http://lakekeeper:8181"
        done
    restart: "no"
    depends_on:
      lakekeeper:
        condition: service_healthy
    volumes:
      - "../ansible-docker/roles/lakekeeper/files/bootstrap-warehouse.py:/opt/work/bootstrap-warehouse.py"
      - "./lakekeeper/bootstrap-playground.json:/opt/work/bootstrap-playground.json:ro"
      - *certs-volume
    networks: *local-networks

  #########################################################
  # Trino query engine
  #########################################################

  trino:
    container_name: local-lakehouse-trino
    image: *trino-image
    env_file: *env-file
    depends_on:
      keycloak:
        condition: service_healthy
      adp-router:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-I", "http://localhost:8080/v1/status"]
      start_period: 10s
      interval: 30s
      timeout: 30s
      retries: 2
    volumes:
      - "./trino/etc:/etc/trino"
      - *certs-volume
    networks: *local-networks

  #########################################################
  # Superset BI tool
  #########################################################

  superset-redis:
    profiles:
      - superset
    container_name: local-lakehouse-superset-redis
    env_file: *env-file
    image: redis:8
    restart: unless-stopped
    volumes:
      - shared_redis_data:/data
    networks: *local-networks

  superset-app:
    profiles:
      - superset
    container_name: local-lakehouse-superset-app
    env_file: *env-file
    image: *superset-image
    command: ["/app/docker/docker-bootstrap-cert.sh", "app-gunicorn"]
    user: *superset-user
    restart: unless-stopped
    depends_on:
      <<: *superset-depends-on
      superset-init:
        condition: service_completed_successfully
    volumes: *superset-volumes
    networks: *local-networks

  superset-init:
    profiles:
      - superset
    container_name: local-lakehouse-superset-init
    env_file: *env-file
    image: *superset-image
    command: ["/app/docker/docker-init.sh"]
    depends_on:
      <<: *superset-depends-on
      shared-database:
        condition: service_healthy
    user: *superset-user
    volumes: *superset-volumes
    networks: *local-networks
    healthcheck:
      disable: true

  superset-worker:
    profiles:
      - superset-worker
    container_name: local-lakehouse-superset-worker
    env_file: *env-file
    image: *superset-image
    command: ["/app/docker/docker-bootstrap.sh", "worker"]
    restart: unless-stopped
    depends_on:
      <<: *superset-depends-on
      superset-app:
        condition: service_healthy
    user: *superset-user
    volumes: *superset-volumes
    networks: *local-networks
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "celery -A superset.tasks.celery_app:app inspect ping -d celery@$$HOSTNAME",
        ]
      interval: 15s

  superset-worker-beat:
    profiles:
      - superset-worker
    container_name: local-lakehouse-superset-worker-beat
    env_file: *env-file
    image: *superset-image
    command: ["/app/docker/docker-bootstrap.sh", "beat"]
    restart: unless-stopped
    depends_on:
      <<: *superset-depends-on
      superset-app:
        condition: service_healthy
    user: *superset-user
    volumes: *superset-volumes
    networks: *local-networks
    healthcheck:
      disable: true

networks:
  local-lakehouse_net:
    name: local-lakehouse-network

volumes:
  mkcert_data:
    name: local-lakehouse_mkcert_data
  keycloak_data:
    name: local-lakehouse_keycloak_data
  minio_data:
    name: local-lakehouse_minio_data
  shared_database_data:
    name: local-lakehouse_shared_database_data
  shared_redis_data:
    name: local-lakehouse_shared_redis_data
