---
- name: Create a new DB schema ("{{ instance.key }}")
  community.postgresql.postgresql_schema:
    login_host: "{{ superset_farm_metadb_host }}"
    login_db: "{{ superset_farm_metadb_name }}"
    login_user: "{{ superset_farm_metadb_user }}"
    login_password: "{{ superset_farm_metadb_passwd }}"
    name: "{{ instance.key }}"
    comment: "Superset schema for {{ instance.key }}"

- ansible.builtin.set_fact:
    instance_work_dir: "{{ superset_farm_work_dir_prefix }}/{{ instance.key }}"

- name: Create working directory
  become: true
  ansible.builtin.file:
    path: "{{ instance_work_dir }}"
    state: directory
    mode: "u=rwx,g=rx,o=rx"

- name: Ensure configuration files are synchronized
  become: true
  ansible.posix.synchronize:
    use_ssh_args: true
    src: ./
    dest: "{{ instance_work_dir }}"
    archive: false
    checksum: true
    recursive: true
    delete: true

- name: Ensure templated configuration files are synchronized
  become: true
  ansible.builtin.template:
    src: "{{ superset_template.src }}"
    dest: "{{ instance_work_dir }}/{{ superset_template.dest }}"
    mode: "{{ superset_template.mode|default('u=rw,g=r,o=r') }}"
  loop:
    - {
        src: superset-cli.sh.j2,
        dest: superset-cli.sh,
        mode: "u=rwx,g=rx,o=rx",
      }
    - { src: docker/dotenv.j2, dest: docker/.env }
    - {
        src: docker/docker-init.sh.j2,
        dest: docker/docker-init.sh,
        mode: "u=rwx,g=rx,o=r",
      }
  loop_control:
    loop_var: superset_template

- name: Ensure superset_config.yml exists
  become: true
  ansible.builtin.copy:
    dest: "{{ instance_work_dir }}/docker/pythonpath/superset_config.yml"
    content: "{{ instance.value.users_yaml | to_nice_yaml }}"
    mode: "u=rw,g=r,o=r"

- name: Run Superset ("{{ instance.key }}")
  become: true
  community.docker.docker_container:
    name: "superset-{{ instance.key }}"
    image: "{{ superset_farm_image }}"
    command: ["/app/docker/docker-bootstrap.sh", "app-gunicorn"]
    env_file: &superset-env-file "{{ instance_work_dir }}/docker/.env"
    volumes: &superset-volumes
      - "{{ instance_work_dir }}/docker/docker-init.sh:/app/docker/docker-init.sh:ro"
      - "{{ instance_work_dir }}/docker/pythonpath:/app/docker/pythonpath:ro"
      - "{{ superset_farm_certs_dir }}:/certs:ro"
    state: healthy
    healthy_wait_timeout: 120
    recreate: true
    cleanup: true
    detach: true
    network_mode: host
    restart_policy: on-failure
    restart_retries: 3

- name: Run Superset init ("{{ instance.key }}")
  become: true
  community.docker.docker_container:
    name: "superset-{{ instance.key }}-init"
    image: "{{ superset_farm_image }}"
    command: ["/app/docker/docker-init.sh"]
    env_file: *superset-env-file
    volumes: *superset-volumes
    state: started
    recreate: true
    cleanup: true
    detach: false
    network_mode: host
    restart_policy: on-failure
    restart_retries: 3

- name: Run Superset worker ("{{ instance.key }}")
  become: true
  community.docker.docker_container:
    name: "superset-{{ instance.key }}-worker"
    image: "{{ superset_farm_image }}"
    command: ["/app/docker/docker-bootstrap.sh", "worker"]
    env_file: *superset-env-file
    volumes: *superset-volumes
    network_mode: host
    state: started
    recreate: true
    cleanup: true
    detach: true
    restart_policy: on-failure
    restart_retries: 3
