---
- name: Ensure cloud server is present
  openstack.cloud.server:
    name: "{{ openstack_server_name }}"
    cloud: "{{ openstack_cloud_name }}"
    flavor: "{{ openstack_flavor }}"
    image: "{{ openstack_image }}"
    key_name: "{{ openstack_key_name }}"
    network: "{{ openstack_virtual_network.name }}"
    auto_floating_ip: false
    security_groups: "{{ openstack_security_groups | default(['default']) }}"
    timeout: 200
    state: present
    sdk_log_level: "{{ openstack_sdk_log_level | default('INFO') }}"
  register: vm_info

- name: Associate floating IP to instance
  openstack.cloud.floating_ip:
    cloud: "{{ openstack_cloud_name }}"
    server: "{{ openstack_server_name }}"
    network: "{{ openstack_virtual_network.name }}"
    floating_ip_address: "{{ openstack_server_fip }}"
  when: openstack_server_fip is defined

- name: Set fact for IP address of VM (Internal network)
  ansible.builtin.set_fact:
    vm_ip_address: "{{ vm_info.server.addresses[openstack_virtual_network.name | default('Internal')][0].addr }}"
    cacheable: false
  when: openstack_server_fip is not defined

- name: Set fact for IP address of VM (Private network)
  ansible.builtin.set_fact:
    vm_ip_address: "{{ openstack_server_fip }}"
    cacheable: false
  when: openstack_server_fip is defined

- name: Display IP address of VM
  ansible.builtin.debug:
    msg: "{{ openstack_server_name }}: {{ vm_ip_address }}"
