SOURCES__M365__CREDENTIALS__TENANT_ID={{ vault_ingestion_msgraph_directory_id }}
SOURCES__M365__CREDENTIALS__CLIENT_ID={{ vault_ingestion_msgraph_client_id }}
SOURCES__M365__CREDENTIALS__CLIENT_SECRET={{ vault_ingestion_msgraph_client_secret }}

OPRALOGWEB__SOURCES__SQL_DATABASE__CREDENTIALS__DRIVERNAME=mssql+pymssql
OPRALOGWEB__SOURCES__SQL_DATABASE__CREDENTIALS__DATABASE=OpralogWebDB
OPRALOGWEB__SOURCES__SQL_DATABASE__CREDENTIALS__PORT=1433
OPRALOGWEB__SOURCES__SQL_DATABASE__CREDENTIALS__HOST={{ vault_ingestion_opralogweb_host }}
OPRALOGWEB__SOURCES__SQL_DATABASE__CREDENTIALS__USERNAME={{ vault_ingestion_opralogweb_user }}
OPRALOGWEB__SOURCES__SQL_DATABASE__CREDENTIALS__PASSWORD={{ vault_ingestion_opralogweb_passwd }}

DESTINATION__PYICEBERG__BUCKET_URL=s3://{{ lakekeeper_catalog.warehouses[warehouse.name].storage.bucket_name }}
DESTINATION__PYICEBERG__CREDENTIALS__URI={{ lakekeeper_catalog.uri }}
DESTINATION__PYICEBERG__CREDENTIALS__WAREHOUSE={{ warehouse.name }}
DESTINATION__PYICEBERG__CREDENTIALS__ACCESS_DELEGATION=remote-signing
DESTINATION__PYICEBERG__CREDENTIALS__OAUTH2_SERVER_URI={{ keycloak_token_endpoint_url_isis }}
DESTINATION__PYICEBERG__CREDENTIALS__CLIENT_ID={{ vault_ingestion_catalog_client_id }}
DESTINATION__PYICEBERG__CREDENTIALS__CLIENT_SECRET={{ vault_ingestion_catalog_client_secret }}
DESTINATION__PYICEBERG__CREDENTIALS__SCOPE=lakekeeper

DBT_TRINO_HTTP_SCHEME=https
DBT_TRINO_HOST={{ top_level_domain }}
DBT_TRINO_PORT={{ trino_https_port }}
DBT_TRINO_USER={{ trino_ingestion_username }}
DBT_TRINO_PASSWORD={{ vault_trino_ingestion_passwd }}
DBT_TRINO_THREADS={{ elt_threads }}
DBT_TRINO_CATALOG={{ warehouse.name }}
DBT_TRINO_CATALOG_SCHEMA_PREFIX=
