DBT_TRINO_USER={{ trino_ingestion_username }}
DBT_TRINO_PASSWORD={{ vault_trino_ingestion_passwd }}
DBT_TRINO_HOST={{ top_level_domain }}
DBT_TRINO_PORT={{ trino_https_port }}
DBT_TRINO_THREADS={{ elt_threads }}
