services:
  minio:
    image: bitnami/minio:2025.4.22
    environment:
      - MINIO_ROOT_USER=minio-root-user
      - MINIO_ROOT_PASSWORD=minio-root-password
      - MINIO_API_PORT_NUMBER=9000
      - MINIO_CONSOLE_PORT_NUMBER=9001
      - MINIO_SCHEME=http
      - MINIO_DEFAULT_BUCKETS={{ lakekeeper_catalog.storage.bucket_name }}
    ports:
      - "30001:9001"
    healthcheck:
      test: [ "CMD", "mc", "ls", "local", "|", "grep", "{{ lakekeeper_catalog.storage.bucket_name }}" ]
      interval: 2s
      timeout: 10s
      retries: 2
      start_period: 15s
    networks:
      analytics_dev_net:

networks:
  analytics_dev_net:
